.profileContainer{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}
.avatar{
    padding: 20px;
    
}
.avatar img{
    width: 100px;
    border-radius: 50%;
}
.display{
    background: var(--list-item);
    padding: 15px 30px;
    border-radius: 5px;
    border: 1px solid --header-bg-1;
    letter-spacing: 1px;
    text-transform: capitalize;
}
