.container{
    display: flex;
    flex-direction: row;
    justify-content: center
}

.todoFormContainer, .todoContainer{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
    
}

.todoFormContainer{
    padding: 25px;
    background: var(--form-color);
    /* border-bottom: 2px solid var(--border-color); */
}

.todoContainer{
    flex-direction: column;
    width: 50%;
    margin-top: 50px;
    border-radius: 8px;
    color: #FFF;
    box-shadow: 0px 0px 11px 2px #4e4e4e;
    min-height: 300px;
    justify-content: start;
    padding-bottom: 40px;
}
.todoListContainer{
    flex-direction: column;
    width: 100%;
    padding: 20px 0;
}

.todoForm{
    padding: 25px;
    border-radius: 5px;
    width: 100%;
}

.listItem{
    padding: 15px;
    width: 100%;
    font-size: 14px;
    border-bottom: 1px solid var(--header-bg-2);
    position: relative;
    background: rgba(255, 137, 5, 0.7);
    border-radius: 10px;
    margin-top: 5px;
}
.listItem:last-child{
    border-bottom: 0;
}
.title{
    font-size: 18px;

}
:global(.action-item){
    position: absolute;
    right: 10px;
    top: 30%;
}
.pinned, .unpinned{
    border-bottom: 2px dotted #33373d;
    padding-bottom: 20px;
    padding: 10px;
}
.unpinned{
    border-bottom: 0;
}
.pinned .listItem{
    background: rgba(255, 137, 5, 1);
}



:global(.item-cls){
    display: inline-block;
}
:global(.fa-thumbtack){
    transform: rotate(45deg);
    margin-right: 8px;
    color: MediumSeaGreen;
}
:global(.fas){
    margin-right: 8px;
    color: MediumSeaGreen;
}

